{
  "arrowParens": "avoid",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": false,
  "trailingComma": "all",

  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^virtual:(.*)$", "^src/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
